@use "sass:color";
@use "variables";

* {
  box-sizing: border-box;
}

body {
  font-family: variables.$font-family-main;
  font-weight: 300;
  margin: 0;
  padding: 150px 0 0;
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 30px;
  color: variables.$color-main-dark;
  background-color: variables.$color-main-light;
}

article, aside, footer, header, nav, section {
  display: block;

  h1 {
    font-size: 2em;
  }
}

pre {
  font-size: 16px;
  max-width: 100%;
  word-break: break-word;
  white-space: pre-wrap;

  code.hljs {
    border-radius: 6px;
    padding: 20px 30px;
  }
}

blockquote {
  margin: 0;
  border-left: 5px solid color.adjust(variables.$color-main-light, $lightness: -10%);
  padding: 0 20px;
  font-size: 16px;
  font-style: italic;
}

.main-header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(variables.$color-main-light, 0.9);
  backdrop-filter: saturate(180%) blur(10px);
  backface-visibility: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.main-header-container {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-menu-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-menu-list-item {
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  user-select: none;
}

.main-logo {
  font-size: 36px;
  font-weight: 900;
  display: flex;
  align-items: flex-end;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.main-logo-dot {
  width: 15px;
  height: 15px;
  background-color: variables.$color-main-contrast;
  margin-right: 10px;
  margin-bottom: 2px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding: 0 30px;
}

.main-footer {
  padding: 60px 30px 30px;
  text-align: center;
  font-size: 13px;
  color: rgba(variables.$color-main-dark, .4);
  height: variables.$size-footer-height;

  a {
    color: variables.$color-main-contrast;
  }
}

.page-container,
.post-container {
  min-height: calc(100vh - #{variables.$size-header-height} - #{variables.$size-footer-height});
}

.home-see-all-posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.js-overflow-y-hidden {
  overflow-y: hidden;
  padding-right: 15px;
}

.go-to-top-button {
  background: variables.$color-main-dark;
  color: variables.$color-main-light;
  position: fixed;
  bottom: -45px;
  right: 15px;
  width: 50px;
  height: 40px;
  line-height: 2.5rem;
  text-align: center;
  cursor: pointer;
  transition: all .4s;
  border-radius: 3px 3px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &.js-visible {
    bottom: 0;
  }
}
